{% extends "WebBundle::base.html.twig" %}

{% block title %}
    : Home
{% endblock %}

{% block body %}
    {% if app.user %}
        {{ app.user.username }}
    {% else %}
        <a href="{{ url('web_default_login') }}">Login</a>
    {% endif %}
{% endblock %}
