<div id="admin-current-stats" class="box box-info current-stats-box">
    <div class="box-header with-border">
        <h3 class="box-title">Current Stats</h3>
    </div>

    <div class="box-body">
        {number} Users!
    </div>
</div>
