body {
  background: #EEEEEE;
}

.error {
  visibility: hidden;
}

.has-error {
  .error {
    visibility: visible;
  }
}

th.fit {
  white-space: nowrap;
  width: 1%;
}

td.fit {
  white-space: nowrap;
  width: 1%;
}

.table > tbody > tr > td {
  vertical-align: inherit
}

.table > tbody > tr > td.input {
  vertical-align: baseline;
}

.table > tbody > tr > th.input {
  vertical-align: baseline;
}

